DATABASE_URL="postgresql://<username>:<password>@localhost:5432/<db-name>?schema=public"

# secret key used to sign our json web tokens
JWT_SECRET="<any-long-random-string>"

# used only to print the email verification link in console
APP_URL="http://localhost:3000"